In [4]:
# Criando uma tupla e imprimindo cada um dos valores
tp = (2,4,6)
for i in tr:
    print(i)

2
4
6

In [9]:
# Criando uma lista e imprimindo cada um dos valores
listaDeString = ['Curso', 'Superior', 'de Tecnologia', 'em Ciencias' , 'de Dados']
for i in listaDeString:
    print(i)

Curso
Superior
de Tecnologia
em Ciencias
de Dados

In [12]:
# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)
for contador in range(0,5):
    print(contador)

0
1
2
3
4

In [16]:
# Imprimindo os números pares da lista de números
lista = [1,2,3,4,5,6,7,8,9,10]
for num in lista:
    if num % 2 == 0: 
        print(num)

2
4
6
8
10

In [20]:
# Listando os números no intervalo entre 0 e 101, com incremento em 2
for i in range(0, 101, 10):
    print(i)

0
10
20
30
40
50
60
70
80
90
100

In [21]:
# Strings também são sequências
for caracter in 'Eu vou dominar pythn e ciencias de dados':
    print(caracter)

E
u

v
o
u

d
o
m
i
n
a
r

p
y
t
h
n

e

c
i
e
n
c
i
a
s

d
e

d
a
d
o
s

In [28]:
# Loops aninhados
lista1 = [0,1,2,3,4]
lista2 = [1,2,3]
#Loop externo 
for elemento_lista1 in lista1:
    #Loop interno
    for elemento_lista2 in lista2: 
        print('\n', elemento_lista1 * elemento_lista2)
    print('-------')

 0

 0

 0
-------

 1

 2

 3
-------

 2

 4

 6
-------

 3

 6

 9
-------

 4

 8

 12
-------

In [31]:
lista1 = [10,14,39,47,54]
lista2 = [34,47,54,65,67]

for elemento_lista1 in lista1: 

    for elemento_lista2 in lista2: 

        if elemento_lista1 == 47 and elemento_lista2 == 47: 
            print('O número 47 foi encontrado nas duas lista')

O número 47 foi encontrado nas duas lista